.prototype--documentationContainer--DpPNr
{
  flex:1;
 position:relative;
 background-color: black;
 color:#fff;
 fill: #fff;
 font-size: 11px;
}
.ww
{
  color: black;
  background-color: white;
}
.st
{
  background-color: white;
  width: 100px;
  height: 100px;
  margin: 0%;
  left: 0%;
  right: 0%;
}
